* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /*background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230526/pngtree-an-old-bookcase-in-a-library-image_2642908.jpg');
    font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .navbar {
    background-color: #123a0c;
    padding: 10px;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }

  .form-register {
    width: 450px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 80%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .header {
    background-color: #123a0c;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  /* Pie de página */
  .footer {
    background-color: #123a0c;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .footer p {
    margin: 0;
  }